/*Navbar Styles*/
.navbar {
    background-color: #0D0B1C;
}
.nav-box, .nav-left, .nav-right, .nav-right a {
    display: flex;
    align-items: center;
}
.nav-left img {
    width: 6%;
    margin-left: 6%;
}
.nav-right {
    justify-content: flex-end;
    margin-right: 3%;
}
.nav-right a {
    justify-content: right;
    max-width: 5%;
    margin-left: .75%;
}
.nav-right img {
    width: 55%;
}
.nav-links {
    color: white;
    text-decoration: none;
    margin-left: 5%;
}
.nav-links:hover{
    color: #EAE7DF;
    text-decoration: none;
}